
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(0, 0, 0), rgb(94, 94, 94));
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2{
    text-align: center;
    color: #ff6347;
}
h3 {
    color: #ff6347;
}

nav {
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 5px;
}



nav ul li a {
    padding: 10px;

}

nav ul li a:hover {
    background-color: #ff6347;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    color: #666;
}

form {
    margin-top: 20px;
}
    
label {
    display: block;
    margin-bottom: 5px;
}
    
input[type="text"],

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
    
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    
button:hover {
    background-color: #e55a3f;
}

.nav-link {
    border-radius: 5px;
}
.imagetotext{
    
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
  }
  
  .imagetotext img{
    max-width: fit-content;
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:4px;
  }
  
  .imagetotext:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px cyan;
  }
   
  .imagetotext :not(img){
    position:absolute;
    z-index:1;
    top:10%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
  
  .imagetotext h4{
    top:25%
  }
  
  .imagetotext:hover :not(img){
    opacity:1;
  }
  .nobullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .column {
    float: center;
    width: 50%;
    padding: 10px;

  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
.imagetotext a {
    
    display: block; 
    position: absolute; 
    z-index: 2; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none; 
    opacity: 0; 
    transition: 0.3s;
  }
